<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script>
        const urlsearchparam = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlsearchparam.entries());
        var expird = atob(params["Exp"]);


        function changePassword()
        {
            var nowDate = new Date(Date.now())
            var expirDate = new Date(expird);
            if (new Date((expirDate.setMinutes(expirDate.getMinutes() + 15))) < nowDate) {
                alert("link is Expired");
            } else {
                var newPassword = document.getElementById("password").value
                var confNewPassword = document.getElementById("confirmpassword").value
                if (newPassword == confNewPassword) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", `http://192.168.1.8:52230/api/Emplyees/resetPassword?key=${params["key"]}&code=${params["code"]}`, true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === 4) {
                           
                        }
                    }
                    xhr.send(JSON.stringify({
                        resetingData: { code: atob(params["code"]),password: document.getElementById("password").value}
                    }))
                }
            }
        }
    </script>
</head>
<body>
        <section>
            <div>
                <label>
                   New Password
                    <input type="password" id="password" />
                </label>
                <label>
                    Confirm New Password
                    <input type="password" id="confirmpassword" />
                </label>
                <button type="submit" onclick="changePassword()" >Submit</button>
            </div>
        </section>
</body>
</html>